.options-box-div {
  display: flex;
  flex-direction: row;
  height: 300px;
  width: 90%;
  margin: auto;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
}
.single-option {
  border: solid 0.5px;
  height: 30px;
  width: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 15px;
}
