.result-box-div {
  border: solid 0.5px #7d5fff;
  border-left: none;
  border-right: none;
  margin-top: 20px;
  width: 300px;
  margin: auto;
  margin-top: 20px;
}
.result-h1 {
  font-size: 22px;
  text-align: center;
}
.result-inside-div {
  text-align: center;
}
.inside-p {
  font-weight: bold;
  font-size: 20px;
  margin-top: 15px;
}
.test {
  width: 200px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: auto;
}
.add-mar-bot {
  margin-bottom: 15px;
  position: relative;
  cursor: pointer;
}
.add-mar-bot::after {
  content: "עוד פרטים";
  position: absolute;
  font-size: 12px;
  background-color: #7d5fff;
  border-radius: 5px;
  left: 25px;
  bottom: 5.5px;
  width: 20%;
  color: white;
  transition: transform ease-out 0.3s;
  transform: scale(0);
}
.add-mar-bot:hover::after {
  transform: scale(1);
}
.last-call-title {
  font-weight: bold;
  margin-left: 20px;
  order: 1;
}
