.welcome-title-div {
  padding: 20px 0;
  text-align: center;
  margin-bottom: 35px;
}
.welcome-title-h1 {
  font-family: "IM Fell French Canon SC", serif;
  letter-spacing: 3px;
}
.welcome-inside-div {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding-top: 50px;
}

/*  buttons  */
.welcome-inside-div button {
  border: none;
  background: #7d5fff;
  color: #ffffff !important;
  padding: 12px 5px 12px 5px;
  border-radius: 6px;
  transition: all 0.3s ease 0s;
  min-width: 150px;
  width: auto;
  cursor: pointer;
  outline: none;
}

.welcome-inside-div button:hover {
  color: #404040 !important;
  font-weight: 700 !important;
  letter-spacing: 2px;
  background: none;
  -webkit-box-shadow: 0px 5px 40px -10px rgba(0, 0, 0, 0.57);
  -moz-box-shadow: 0px 5px 40px -10px rgba(0, 0, 0, 0.57);
  transition: all 0.3s ease 0s;
}
